# Supabase Configuration
# Obtenha estas credenciais no seu projeto Supabase: https://supabase.com/dashboard
VITE_SUPABASE_URL=https://cfbtsspirdueolegjfvw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KDleiee4wiAagvfpr4MsJg_69cDk_bS